.search-input {
    border-radius: 20px;
    padding: 10px 20px;
    border: 1px solid #ced4da;
    transition: 0.3s;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.1);
}

.search-input:focus {
    border-color: #007bff;
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.25);
}


/* Custom Row Spacing */
.custom-row {
    row-gap: 1.5rem;
}